@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@media screen and (min-width: 150px){
    
}
@media screen and (min-width: 300px){
    
}
@media screen and (min-width: 468px){
    
}
@media screen and (min-width: "640px"){
    
}
@media screen and (min-width: "768px"){
    
}
@media screen and (min-width: "992px"){
    
}
@media screen and (min-width: "1024px"){
    
}
@media screen and (min-width: "1280px"){
    
}
@media screen and (min-width: 1440px){
    body{
        overflow-x: hidden;
    }
    .fi{
        background-color: #535353;
        padding: 15px;
    }
    .container{
        width: 1360px;
        margin: 0 auto;
    }   
    .fi .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .fi .container .flex .i nav,
    .fi .container .flex .ii nav{
        display: flex;
    }
    .fi .container .flex .i nav > a,
    .fi .container .flex .ii nav > a{
        color: #c5c5c5;
        text-decoration: none;
        margin: 0 20px;
    }
    .fi .container .flex .i nav > a:nth-of-type(1){
        margin-left: 0 !important;
    }
    .se .flex{
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .se .flex .ii button{
        font-size: 20px;
        background-color: transparent;
        border: none;
    }
    .se .flex .ii .ii-cont{
        position: relative;
        background-color: #fff;
    }
    .se .flex .ii .ii-cont .ii-grid:last-child{
        border-bottom: none;
    }
    .se .flex .ii .ii-cont .ii-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 30px;
        border-bottom: 1px solid;
        background-color: #fff;
    }
    .se .flex .ii .ii-cont .ii-grid .f{
        display: flex;
        border-right: 1px solid;
        align-items: center;
    }
    .se .flex .ii .ii-cont .ii-grid .f:last-child{
        border-right: none;
    }
    .se .flex .ii .ii-cont .ii-grid .f img{
        width: 120px;
    }
    .se .flex .ii .ii-cont .ii-grid .f .f-cont > *{
        margin: 15px 0;
    }
    .se .flex .i{
        display: flex;
        align-items: center;
    }
    .se .flex .i .h-nav{
        display: flex;
        align-items: center;
        position: relative;
        left: 50px;
    }
    .se .flex .i .h-nav .hom{
        position: relative;
        left: 100px;
    }
    .se .flex .i .h-nav .hom a{
        font-weight: bold;
        font-size: 18px;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 0;
    }
    .se .flex .i .h-nav .hom a:hover{
        border-bottom: 5px solid rgb(0, 168, 168);
    }
    .se .flex .i .h-nav .hom .dropdown{
        position: absolute;
        top: 40px;
        z-index: 1;
        left: -528px;
        display: none;
        width: 1905px;
        background-color: #000;
    }
    .se .flex .i .h-nav .hom .dropdown .i{
        background-color: #eeeeee;
        padding: 10px;
    }
    .se .flex .i .h-nav .hom .dropdown .i .i-flex{
        display: flex;
        position: relative;
        left: 11%;
    }
    .se .flex .i .h-nav .hom .dropdown .i .i-flex button{
        padding: 10px;
        border: none;
        width: 150px;
        border-right: 1px solid;
    }
    .se .flex .i .h-nav .hom .dropdown .i .i-flex button:last-child{
        border-right: none;
    }
    .rel{
        position: relative;
        height: 710px;
    }
    .rel .imgSlider{
        width: 100%;
        height: 700px;
        display: none;
        position: absolute;
        opacity: 0;
    }
    .rel .imgSlider img{
        width: 100%;
        height: 700px;
    }
    .rel .text{
        position: absolute;
        top: 180px;
        width: 550px;
        font-size: 25px;
        left: 14%;
    }
    .sliderdot{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sliderdot .dot{
        width: 12px;
        height: 12px;
        margin: 0 5px;
        background-color: #a8a8a8;
        border-radius: 100%;
    }
    .active{
        background-color: #00e1ff !important;
    }
    .rel .btn{
        position: absolute;
        left: 0;
        top: 300px;
        width: 100%;
        padding: 0 20px;
        /* display: none !important; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .rel .btn button{
        cursor: pointer;
        width: 55px;
        height: 100px;
        border: none;
    }
    .rel .btn button:nth-of-type(2){
        right: 0;
    }
    .ma{
        position: relative;
    }
    .ma .ma-ii{
        position: relative;
        margin: 60px 0;
    }
    .ma .ma-ii .flex{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ma .ma-ii .flex .card{
        width: 300px;
        font-size: 20px;
        height: 350px;
        position: relative;
        margin: 0 5px;
    }
    .ma .ma-ii .flex .card h3{
        margin-top: 30px;
    }
    .ma .ma-ii .flex .card:nth-of-type(1) div{
        width: 40px;
        height: 10px;
        background-color: #b1b1b1;
        position: absolute;
        bottom: 0;
    }
    .ma .ma-ii .flex .card img{
        height: 280px;
        width: 280px;
        border-radius: 15px;
    }
    .ma .ma-ii .flex .card:nth-of-type(2),
    .ma .ma-ii .flex .card:nth-of-type(3),
    .ma .ma-ii .flex .card:nth-of-type(4){
    cursor: pointer !important;
    }
    .ma .ma-ii .flex .card:nth-of-type(2) div:nth-of-type(1),
    .ma .ma-ii .flex .card:nth-of-type(3) div:nth-of-type(1),
    .ma .ma-ii .flex .card:nth-of-type(4) div:nth-of-type(1){
        font-size: 14px;
        color:#535353;
        margin: 10px 0;
    }
    .ma .ma-iii{
        margin: 100px 0;
        margin-top: 120px;
        margin-bottom: 530px;
    }
    .ma .ma-iii .btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ma .ma-iii .btn button{
        padding: 20px;
        margin: 0 15px;
        color: #c7c7c7;
        border:none;
        cursor: pointer;
        font-weight: bold;
        position: relative;
        font-size: 30px;
        background-color: transparent;
    }
    .bottom::after{
        position: absolute;
        width: 35px;
        content: "";
        padding: 2px;
        background-color: rgb(0, 255, 255);
        bottom: 10px;
        left: 42%;
        transition: all linear 5s;
    }
    .ma .ma-iii .btn button:nth-of-type(1){
        color: #000 !important;
    }
    .ma .ma-iii .ot .rec .rec-rel .btn{
        position: absolute;
        top: 220px;
        left: 8%;
        width: 85%;
        display: flex;
        justify-content: space-between !important;
    }
    .ma .ma-iii .ot .rec .rec-rel .btn button{
        font-size: 50px;
    }
    .ma .ma-iii .ot .rec .rec-rel{
        position: relative;
        display: flex;
        align-items: center;
        border: 2px solid;
        width: 100%;
    }
    .ma .ma-iii .ot .rec .rec-rel .flex{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ma .ma-iii .ot .rec .rec-rel .flex .card{
        border-radius: 20px;
        text-align: center;
        padding-bottom: 100px !important;
        padding: 0 20px;
        box-shadow: 0px 0px 2px 0px #000;
    }
    .ma .ma-iii .ot .rec .rec-rel .flex .card img{
        width: 100%;
        height: 250px;
    }
    .ma .ma-iii .ot .rec .rec-rel .flex .card .card-text{
        margin-top: 35px;
    }
    .ma .ma-iii .ot .rec .rec-rel .flex .card .card-text h2{
        margin-bottom: 15px;
    }
    .ma .ma-iii .ot .rec .rec-rel .flex .card .card-text .text{
        font-size: 20px;
        width: 300px;
        margin: 0 auto;
    }
    .ma .ma-iii .ot .ot-rel{
        position: relative;
        top: 50px;
    }
    .ma .ma-iii .ot .ot-rel .rec,
    .ma .ma-iii .ot .ot-rel .lat{
        position: absolute;
    }
    .ma .ma-iii .ot .ot-rel .rec .btnn{
        position: absolute;
        top: 200px;
        width: 100%;
    }
    .ma .ma-iii .ot .ot-rel .rec .btnn button:nth-of-type(1){
        left: 0;
    }
    .ma .ma-iii .ot .ot-rel .rec .btnn button{
        font-size: 48px;
        border: none;
        background-color: transparent;
    }
    .ma .ma-iii .ot .ot-rel .rec .btnn button:nth-of-type(1){
        left: -50px;
        display: none;
        position: absolute;
    }
    .ma .ma-iii .ot .ot-rel .rec .btnn button:nth-of-type(2){
        right: -50px;
        position: absolute;
    }
    .ma .ma-iii .ot .ot-rel .rec .btn button:nth-of-type(2){
        right: 0px;
    }
    .ma .ma-iii .ot .ot-rel .rec .rec-cont{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        position: absolute;
        justify-self: center;
        /* border: 2px solid; */
        background-color: #fff;
    }
    .ma .ma-iii .ot .ot-rel .rec .rec-cont-i{
        display: none;
    }
    .ma .ma-iii .ot .ot-rel .rec .rec-cont-ii{
        /* display: none !important; */
    }
    .ma .ma-iii .ot .ot-rel .rec .rec-cont .card:hover{
        transform: scale(1.1);
        cursor: pointer;
        transition: all linear .3s;
    }
    .ma .ma-iii .ot .ot-rel .rec .rec-cont .card{
        text-align: center;
        padding: 20px;
        margin: 0 15px;
        border-radius: 15px;
        box-shadow: 0px 0px 3px 0px #808080;
    }
    .ma .ma-iii .ot .ot-rel .rec .rec-cont .card .dbtn{
        display: none;
    }
    .ma .ma-iii .ot .ot-rel .rec .rec-cont .card .dbtn button{
        background-color:rgb(0, 255, 255);
        position: relative;
        top: 10px;
        padding: 10px 35px;
        color: #fff;
        font-weight: bold;
        border: none;
    }
    .ma .ma-iii .ot .ot-rel .rec .rec-cont .card img{
        width: 100%;
    }
    .ma .ma-iii .ot .ot-rel .rec .rec-cont .card .rec-cont-card-cont{
        margin-top: 15px;
    }
    .ma .ma-iii .ot .ot-rel .rec .rec-cont .card .rec-cont-card-cont h2{
        margin-bottom: 15px;
    }
    .ma .ma-iv{
        margin: 50px auto;
        position: relative;
    }
    .ma .ma-iv .ma-iv-flex{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .ma .ma-iv img{
        width: 100%;
        height: 180px;
        border-radius: 20px;
        border: 2px solid;
    }
    .ma .ma-iv .ma-iv-flex{
        position: absolute;
        top: 50px;
        width: 100%;
    }
    .ma .ma-iv .ma-iv-flex button{
        margin-top: 10px;
        background-color: rgb(255, 195, 83);
        padding: 10px 20px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
    }
    .ma .ma-iv .ma-iv-flex button i{
        margin: 0 10px;
        cursor: pointer;
    }
    .ma .ma-iv .ma-iv-flex button:hover{
        opacity: .7
    }
    .ma .ma-v{
        margin-top: 120px !important;
    }
    .ma .ma-v .ma-v-cont{
        position: relative;
    }
    .ma .ma-v .ma-v-cont .ma-v-flex{
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .ma .ma-v .ma-v-cont .ma-v-flex .ii nav > *{
        font-size: 18px;
        margin: 0 15px;
    }
    .ma .ma-v .ma-v-cont .ma-v-flex .ii nav > * > i{
        font-size: 12px;
    }
    .ma .ma-v .ma-v-cont .ma-v-c{
        position: relative;
    }
    .ma .ma-v .ma-v-cont .ma-v-c .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin-top: 50px;
        justify-items: center;
    }
    .ma .ma-v .ma-v-cont .ma-v-c .grid .card{
        width: 410px;
        background-color: #ebebeb;
        overflow: hidden;
    }
    .ma .ma-v .ma-v-cont .ma-v-c .grid .card img{
        width: 100%;
    }
    .ma .ma-v .ma-v-cont .ma-v-c .grid .card img:hover{
        transform: scale(1.1);
        transition: all linear .3s;
    }
    .ma .ma-v .ma-v-cont .ma-v-c .grid .card .div{
        padding: 15px;
        height: 250px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .ma .ma-v .ma-v-cont .ma-v-c .grid .card .div p{
        font-size: 18px;
    }
    .ma .ma-v .ma-v-cont .ma-v-c .grid .card .i{
        padding: 25px;
    }
    .ma .ma-v .ma-v-cont .ma-v-c .grid .card .i{
        border-bottom: 2px solid #dddddd;
    }
    .ma .ma-v .ma-v-cont .ma-v-c .grid .card .i:hover{
        color:rgb(0, 255, 255);
        cursor: pointer;
        transition: all linear .1s;
    }
    .ma .ma-v .ma-v-cont .ma-v-c .grid .card .iu div:nth-of-type(1){
        padding-top: 25px;
    }
    .ma .ma-v .ma-v-cont .ma-v-c .grid .card .i div{
        font-size: 20px;
    }
    .ma .ma-v .ma-v-cont .ma-v-c .grid .card .i div:nth-of-type(1){
        margin-bottom: 25px;
    }
    .ma .ma-v .ma-v-cont .ma-v-c .grid .card .ui{
        border-bottom: none;
    }
    .ma .ma-vi{
        padding: 100px 0;
    }
    .ma .ma-vi .ma-vi-flex{
        display: flex;
    }
    .ma .ma-vi .ma-vi-flex .cont-i .input{
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 0px #a8a8a8;
        margin-top: 30px;
    }
    .ma .ma-vi .ma-vi-flex .cont-i .input input::placeholder{
        font-size: 16px;
    }
    .ma .ma-vi .ma-vi-flex .cont-i .input input{
        border-right: 1px solid !important;
        width: 400px;
        outline: none;
    }
    .ma .ma-vi .ma-vi-flex .cont-i .input input,
    .ma .ma-vi .ma-vi-flex .cont-i .input button{
        padding: 5px;
        border: none;
    }
    .ma .ma-vi .ma-vi-flex .cont-i .input button{
        padding: 8px 15px;
        font-weight: bold;
        background-color: transparent;
        color:rgb(0, 168, 168)
    }
    .ma .ma-vi .ma-vi-flex .cont-ii{
        margin-left: 150px;
    }
    .ma .ma-vi .ma-vi-flex div:nth-of-type(1) h1{
        display: flex;
        align-items: center;
    }
    .tp-follow-icon{
        width: 25px;
        height: 25px;
        display: block;
        margin-left: 10px;
        background: url(https://static.tp-link.com/assets/images/icon/tips.svg) 50% 50% no-repeat;
    }
    .ma .ma-vi .ma-vi-flex .cont-ii .f{
        display: flex;
        align-items: center;
    }
    .ma .ma-vi .ma-vi-flex .cont-ii .f i{
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 15px;
        margin-top: 25px;
    }
    .ma .ma-vi .ma-vi-flex .cont-ii .f i:nth-of-type(1){
        margin-left: 0px;
    }
    .footer{
        background-color: #535353;
        padding: 50px 0;
    }
    .footer .footer-flex{
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }
    .footer .wi{
        color: #b1b1b1;
        margin-bottom: 0px !important;
    }
    .footer .footer-flex .i{
        display: flex;
    }
    .footer .footer-flex .ii img{
        width: 120px;
        /* height: 30px; */
        margin: 0 10px;
    }
    .footer .footer-flex nav{
        margin-right: 50px;
    }
    .footer .footer-flex nav h3{
        color: #fff
    }
    .footer .footer-flex nav > *{
        display: flex;
        flex-direction: column;
        padding: 5px;
        color: #a5a5a5;
        text-decoration: none;
    }
}
.disp{
    display: block !important;
}